body {
  overflow-x: hidden;
  font-family: "Luckiest Guy", cursive;
  margin: 0;
  padding: 0;
  background-color: #201c12;
}
header a {
  color: #a4d792;
  text-decoration: none;
  /* transition: 0.5s; */
}
header ul a:hover {
  text-decoration: underline;
}

header {
  padding: 5px 20px;
  color: #a4d792;
  width: 80%;
  position: absolute;
  top: 0px;
  left: 20px;
  right: 20px;
  background-color: #201c12c4;
  z-index: 10;
  margin: auto;
}

header,
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header span {
  font-size: 44px;
  margin: 0;
  padding: 0;
}
header ul {
  list-style: none;
}
header ul li {
  margin-left: 15px;
  font-size: 24px;
}

section {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #201c12c4;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#banner #background-teint {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #201c12;
  top: 0;
  opacity: 0.81;
}
#banner img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

#banner #banner-text {
  position: absolute;
  top: 34px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 8;
  scale: 0.7;
}

#banner #banner-text h1 {
  margin: 0;
  padding: 0;
  font-size: 117px;
  color: #a4d792;
  width: 100%;
  text-align: center;
}

#banner #banner-text p {
  color: #f7fdb6;
  font-size: 37px;
}

#banner #banner-text button {
  border: none;
  font-family: "Luckiest Guy", cursive;
  color: #f7fdb6;
  color: #201c12c4;
  font-size: 37px;
  background-color: #a4d7929c;
  padding: 5px 20px;
  border-radius: 20px;
}
#banner #banner-text button:hover {
  border: 1px solid #f7fdb6;
  box-shadow: 1px 9px 50px #f7fdb6;
  color: #f7fdb6;
}

#nos-service {
  background-color: #a4d792;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#index-collections {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80vh;
  /* background-color: blue; */
  justify-content: space-between;
  align-items: center;
  /* gap: 35px; */
  position: relative;
  scale: 0.8;
}

#nos-service h1 {
  color: #f7fdb6;
}

.carte {
  width: 26%;
  height: 100%;
  background-color: #201c12c4;
  /* color:#F7FDB6 ; */
  color: #a4d792;
  border-radius: 20px;
  border: 7px solid #f7fdb6;
  position: relative;
  padding: 15px;
  box-shadow: 15px 20px 12px #201c12c4;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.carte:hover {
  transform: translateY(10px);
  box-shadow: inset 15px 20px 140px #a4d792;
}

.carte div:nth-child(2) {
  /* display: flex;
  flex-direction: column; */
  height: 50%;
}

.carte div:nth-child(2) div {
  /* background-color: red; */
  width: 100%;
  height: 90px !important;
  /* margin-bottom: 15px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: wrap;
}

.carte div:nth-child(2) div:nth-child(1) {
  display: block;
  text-align: center;
  padding-top: 15px;
}

.carte div:nth-child(2) div:nth-child(3) {
  height: 60px !important;
}

.carte div span,
.carte div h2,
.carte div p,
.carte div a {
  margin: 0;
  margin-bottom: 15px;
  flex: 1;
  width: fit-content;
}

.carte div span {
  font-size: 18px;
  margin: 0;
  color: rgba(164, 215, 146, 0.5);
}
.carte div h2 {
  font-size: 28px;
  width: 100%;
  /* padding: 15px; */
}
.carte div p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 100%;
  padding: 15px;
}
.carte div button {
  font-size: 15px;
  background-color: rgba(164, 215, 146, 0.5);
  font-family: "Luckiest Guy", cursive;
  color: #f7fdb6;
  border: none;
  padding: 15px;
  border-radius: 15px;
}

.carte .img-frame {
  max-width: 30vw;
  height: 50%;
  background-color: #a4d792;
  border-radius: 20px;
}
.carte img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.carte .fill-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #201c12;
  opacity: 0;
  /* bottom: 65; */
}

/* #index-collections .carte-2 {
  color: #f7fdb6;
  border-color: #f7fdb6;
}

#index-collections .carte-2 span {
  color: rgba(247, 253, 182, 0.5);
} */

#trois-mots {
  text-align: center;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: red; */
}

#trois-mots h1 {
  color: #f7fdb6;
}

#trois-mots-text {
  /* background-color: blue; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  scale: 0.8;
}
#trois-mots-text div {
  width: 30%;
  height: 179px;
  background-color: #a4d792;
  display: flex;
  justify-content: center;
  align-items: center;
}

#trois-mots-text span {
  font-size: 73px;
  width: 100%;
  /* height: 100%; */
  text-align: center;
  color: #201c12c4;
}

#trois-mots-text div:nth-child(2) {
  background-color: #f7fdb6;
}

footer {
  display: flex;
  justify-content: space-between;
  /* padding: 20px; */
  scale: 0.9;
  color: #a4d792;
  background-color: #201c12;
  font-family: Arial, Helvetica, sans-serif;
  border-top: 1px solid;
  padding-top: 15px;
}
footer h3 {
  color: #f7fdb6;
  text-transform: uppercase;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer #part-1 {
  text-align: left;
}

footer #part-2 {
  text-align: center;
}

footer #part-3 {
  text-align: right;
}
.page {
  margin-top: 72px;
}

.class-title {
  /* background-color: blue; */
  width: 100%;
  text-align: center;
  /* scale: 0.5; */
}

.class-title legend {
  /* color: #f7fdb6; */
  color: #a4d792;
  font-size: 24px;
}

.class-title h1 {
  margin-top: 0;
  /* color: #a4d792; */
  color: #f7fdb6;
  font-size: 44px;
}

.gallerie {
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: center;
  /* scale: 0.85; */

  /* transform:translateY(-80px) ; */
}

.gallerie .gallerie-item {
  cursor: pointer;
  margin: 0 15px;
  position: relative;
}

.gallerie .gallerie-item a {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  opacity: 0;
}

.gallerie .img-frame {
  width: calc(20vw - 36px);
  height: 20vw;
  background-color: #a4d792;
  border: 18px solid #a4d792;

  border-radius: 20px;
}

.gallerie .img-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.gallerie .object-title {
  width: 20vw;
  height: fit-content;
  /* background-color: yellow; */
  text-align: center;
  color: #a4d792;
  font-size: 30px;
  margin-top: 5px;
}

.gallerie .object-title p {
  margin: 0;
}

.page section {
  border-top: 1px solid #a4d792;
}

.gallerie .modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgba(0, 0, 0, 0.6); */
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  z-index: 10;
  background-color: #f7fdb63b;
}

.gallerie .modal:target {
  opacity: 1;
  visibility: visible;
}

.gallerie .modal .close-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 11;
}

.gallerie .modal-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 12;
  background-color: #f7fdb6;
}
.gallerie .modal-content .close-btn-div {
  width: 100%;
  /* background-color: aqua; */
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  justify-content: right;
  align-items: right;
}
.gallerie .modal-content .close-btn-div .close-btn {
  color: red;
  font-size: 34px;
  z-index: 100;
  font-weight: 500;
  /* width: 30px;
  height: 30px; */
  opacity: 1;
  margin: 0;
  padding: 0;
  width: fit-content;
  height: fit-content;
  position: initial;
  padding: 0 10px;
  text-decoration: none;
  background-color: transparent;
  /* background-color: red; */
}
.gallerie .modal-content .img-frame {
  width: 100%;
  border: none;
  border-radius: 0px;
  background-color: #f7fdb6;
}
.gallerie .modal-content .img-frame img {
  border-radius: 0;
}
.gallerie .modal-content .text-bloc div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gallerie .modal-content .text-bloc div p {
  margin-left: 20px;
  font-size: 14;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
}

/* .close-btn {
            position: absolute;
            top: 10px;
            right: 15px;
            text-decoration: none;
            font-size: 24px;
            color: #333;
        } */
