body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Aptos Display", Arial, sans-serif;
}
h1 {
  font-size: 58px;
}

img {
  width: 400px;
  height: 400px;
}
h2 {
  font-size: 48px;
}

section {
  width: 100vw;
  height: 100vh;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
}
section,
section#banier #banier-text,
#carte-salles,
#salles #carte-salles .carte-salle-item .carte-text,
#desciption-mus > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section#banier img {
  width: 100%;
  height: 100%;
}

section#banier #banier-text {
  position: absolute;
  color: #ffcc00;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  align-items: start;
  padding-left: 50px;
}

section#banier #banier-text h1,
section#banier #banier-text p,
section#banier #banier-text button {
  text-align: left;
  max-width: 50vw;
  /* background-color: aqua; */
  margin: 0;
}

section#banier #banier-text p {
  color: #faf5e9;
  width: 100%;
  /* text-align: center; */
  font-weight: 700;
}

section#banier #banier-text button {
  background-color: #009b4d;
  border: none;
  padding: 15px;
  border-radius: 50px;
  font-weight: 700;
  color: #ffcc00;
  border: 5px solid #ffcc00;
  transition: 0.5s;
}

section#banier #banier-text #banier #salles {
  background-color: aliceblue;
}
#salles #carte-salles {
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 15px;
}

#salles #carte-salles .carte-salle-item {
  position: relative;
  flex: 1;
  box-shadow: 5px 5px 30px gray;
  max-width: 30vw;
  max-height: 30vw;
}

#salles #carte-salles .carte-salle-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#salles #carte-salles .carte-salle-item .carte-text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 0;
  display: none;
  transform: 0.5s;
}

#salles #carte-salles .carte-salle-item:hover .carte-text {
  display: flex;
}
#salles #carte-salles .carte-salle-item .carte-text h3,
#salles #carte-salles .carte-salle-item .carte-text p,
#salles #carte-salles .carte-salle-item .carte-text a {
  padding: 0 30px;
  text-wrap: wrap;
  max-width: 100%;
}
#salles #carte-salles .carte-salle-item .carte-text a {
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 15px;
  padding: 5px 10px;
  transition: 0.5s;
}

#salles #carte-salles .carte-salle-item .carte-text a:hover {
  color: white;
  background-color: black;
}

#desciption-mus {
  background-color: blanchedalmond;
}

#desciption-mus > div {
  flex-direction: row;
}

#desciption-mus > div > div {
  background-color: red;
  flex: 1;
  padding: 5vw;
  margin: 15px;
}
